/* Reset 
================================================================== */

body {
	width: 100%;
    margin: 0;
	padding: 0;
    background-color: #002333;
    font-family: 'Montserrat', sans-serif;
}



/* Header 
================================================================== */

#header-home {
    background-image: linear-gradient(to right, #000000c0, #ffffff1f), url(./images/fond-2.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-bottom: 1px solid azure;
}


        /* Navbar 
        ===================== */

header nav {
    background-color: #002333d8;
    border-bottom: 0.5px solid azure;
    animation: apparition 0.7s ease-in-out;
}

header nav img {
    width: 160px;
}

header ul li {
    font-size: 0.9rem;
}

header ul li #lien-accueil {
    color: #04fd83;
}

header ul li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%);
    width: 0%;
    height: 1.5px;
    background-color: #04fd83;
    transition: all 0.3s ease-out;
}

header ul li a:hover::before {
    width: 100%;
}

header .show {
    height: 260px;
    backdrop-filter: blur(3px);
    font-size: 20px;
}


        /* Accueil 
        ===================== */

#accueil {
    height: 100vh;
}

#accueil #carouselExampleAutoplaying {
    top: 70px;
    font-size: 1.6rem;
    text-shadow: 1px 3px 1px #002333;
    animation: apparition 0.7s ease-in-out;
}

#accueil #carouselExampleAutoplaying p::after {
    display: block;
    height: 2px;
    background-color: #04fd83;
    width: 150px;
    content: "";
    margin: 0 auto;
    margin-top: 6px;
}

#accueil #presentation {
    top: 25%;
    animation: apparition 0.7s ease-in-out;
    letter-spacing: 2px;
}

#accueil #presentation-titre {
    color: #04fd83;
    font-size: 2rem;
    text-shadow: 1px 2px 1px #002333;
    letter-spacing: 1px;
}

#accueil #presentation p {
    text-shadow: 1px 2px 1px #002333;
    font-size: 1.5rem;
}

#accueil #presentation #button-modal {
    transition: 0.3s;
}

#accueil #presentation #button-modal:hover {
    background-color: #04fd83;
    border-color: #04fd83;
    transform: scale(1.1);
    transition: 0.3s;
}

#accueil #presentation #staticBackdropLabel {
    font-size: 1rem;
    text-shadow: none;
}

#accueil #presentation #modal {
    background-color: #002333b6;
    border: 0.5px solid azure;
}

#accueil #presentation .show {
    height: 100vh;
}



/* Main 
================================================================== */

        /* Section avantages
        ===================== */

#avantages h2 {
    animation: apparition 0.7s ease-in-out;
}

#avantages h2::after {
    display: block;
    height: 2px;
    background-color: #04fd83;
    width: 100px;
    content: "";
    margin: 0;
    margin-top: 6px;
}


        /* Carte section avantages
        ===================== */

#avantages .m-1 {
    background-color: transparent;
    border-color: #04fd83;
    animation: apparition 0.7s ease-in-out;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#avantages .m-1:hover {
    background-color: #04fd851c;
    text-shadow: 1px 2px 1px #002333;
}

#avantages img {
    border-radius: 10px;
    box-shadow: 0px 1px 6px #04fd83;
}

#avantages h5 {
    color: #04fd83;
}

#avantages h5::after {
    display: block;
    height: 2px;
    background-color: azure;
    width: 100px;
    content: "";
    margin: 0 auto;
    margin-top: 6px;
}

#avantages p {
    font-size: 17px;
}

main #avantages-2 {
    visibility: hidden;
    display: none;
}


        /* Section avantages 2
        ===================== */

#avantages-2 h2 {
    animation: apparition 0.7s ease-in-out;
}

#avantages-2 h2::after {
    display: block;
    height: 1px;
    background-color: #04fd83;
    width: 100px;
    content: "";
    margin: 0;
    margin-top: 6px;
}


        /* Carte section avantages 2
        ===================== */

#avantages-2 .m-1 {
    background-color: transparent;
    border-color: #04fd83;
    animation: apparition 0.7s ease-in-out;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
    
#avantages-2 .m-1:hover {
    background-color: #04fd851c;
    text-shadow: 1px 2px 1px #002333;
}
    
#avantages-2 img {
    border-radius: 10px;
    box-shadow: 0px 1px 6px #04fd83;
}
    
#avantages-2 h5 {
    color: #04fd83;
}
    
#avantages-2 h5::after {
    display: block;
    height: 2px;
    background-color: azure;
    width: 100px;
    content: "";
    margin: 0 auto;
    margin-top: 6px;
}
    
#avantages-2 p {
    font-size: 17px;
}

        /* Section catégories
        ===================== */

#categories h2 {
    animation: apparition 0.7s ease-in-out;
}
    
#categories h2::after {
    display: block;
    height: 2px;
    background-color: #04fd83;
    width: 65px;
    content: "";
    margin: 0;
    margin-top: 6px;
}

        /* Carte section catégories
        ===================== */

#categories .text-center {
    background-color: transparent;
    border-color: #04fd83;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    animation: apparition 0.7s ease-in-out;
    transition: 0.3s;
}

#categories .text-center:hover {
    background-color: #04fd851c;
    transition: 0.3s;
}

#categories img {
    border-radius: 10px;
    box-shadow: 0px 1px 6px #04fd83;
}

#categories .mt-2 {
    transition: 0.3s;
    width: 115px;
    border-radius: 30px;
    border-color: #04fd83;
    font-weight: 500;
}

#categories .mt-2:hover {
    transform: scale(1.1);
    transition: 0.3s;
    background-color: #04fd83;
    color: #002333;
}

#categories .carousel-control-prev-icon {
    border-radius: 50px;
    border: 3px solid #04fd83;
}

#categories .carousel-control-next-icon {
    border-radius: 50px;
    border: 3px solid #04fd83;
}


        /* Section catégories 2
        ===================== */

#categories-2 h2 {
    animation: apparition 0.7s ease-in-out;
}
        
#categories-2 h2::after {
    display: block;
    height: 1px;
    background-color: #04fd83;
    width: 65px;
    content: "";
    margin: 0;
    margin-top: 6px;
}

        /* Carte section catégories 2
        ===================== */

#categories-2 .text-center {
    background-color: transparent;
    border-color: #04fd83;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    animation: apparition 0.7s ease-in-out;
    transition: 0.3s;
}
    
#categories-2 .text-center:hover {
    background-color: #04fd851c;
    transition: 0.3s;
}
    
#categories-2 img {
    border-radius: 10px;
    box-shadow: 0px 1px 6px #04fd83;
}
    
#categories-2 .mt-2 {
    transition: 0.3s;
    width: 115px;
    border-radius: 30px;
    border-color: #04fd83;
    font-weight: 500;
}
    
#categories-2 .mt-2:hover {
    transform: scale(1.1);
    transition: 0.3s;
    background-color: #04fd83;
    color: #002333;
}
    
#categories-2 .carousel-control-prev-icon {
    border-radius: 50px;
    border: 3px solid #04fd83;
}
    
#categories-2 .carousel-control-next-icon {
    border-radius: 50px;
    border: 3px solid #04fd83;
}

#categories-2 {
    visibility: hidden;
    display: none;
}



/* Footer 
================================================================== */

#footer .mt-5 {
    border-top: 1px solid azure;
}



/* Keyframe 
================================================================== */

@keyframes apparition {
    
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}



/* Media queries 
================================================================== */

        /* 1399 px
        ===================== */

@media screen and ( max-width: 1399px ) {

    /* Catégories */

    #categories .text-center {
        height: 240px !important;
    }
}


        /* 1199 px
        ===================== */

@media screen and ( max-width: 1199px ) {

    /* Catégories */

    #categories .text-center {
        height: 209px !important;
    }
}



        /* 991 px
        ===================== */

@media screen and ( max-width: 991px ) {

    /* Header */
    
    #header-home {
        background-image: linear-gradient(to bottom, #000000dc, #ffffff1f), url(./images/fond.jpg);
    }


    /* Navbar */

    header ul li a {
        margin-top: 35px;
        letter-spacing: 3px;
        text-shadow: 1px 3px 1px #002333;
    }

    header #lien-accueil {
        margin-top: 17px;
    }

    /* header ul li a::before {
        content: none;
        position: none;
        bottom: none;
        left: none; 
        transform: none;
        width: none;
        height: none;
        background-color: none;
        transition: none;
    }

    header ul li a:hover::before {
        width: none;
    } */


    /* Accueil */

    #accueil #presentation {
        text-align: center;
        margin: 0;
        top: 20%;
    }

    #accueil #presentation #button-modal {
        font-size: 20px;
        margin-top: 30px;
        font-weight: 400;
    }


    /* Catégories */

    #categories .text-center {
        height: 165px !important;
    }
}

        /* 767 px
        ===================== */

    /* Catégories */

@media screen and ( max-width: 767px ) {
    #categories {
        visibility: hidden;
        display: none;
    }

    #categories-2 {
        visibility: visible;
        display: flex;
    }
}


        /* 575 px
        ===================== */

@media screen and ( max-width: 575px ) {

    /* Catégories */

    #categories-2 .text-center {
        height: auto !important;
    }

    #categories-2 a {
        margin-bottom: 7px;
    }
}


        /* 464 px
        ===================== */

@media screen and ( max-width: 464px ) {

    /* Accueil */

    #accueil #presentation #presentation-titre {
        font-size: 25px;
    }

    #accueil #presentation p {
        font-size: 17px;
    }
}


        /* 481 px
        ===================== */

@media screen and ( max-width: 481px ) {

    /* Avantages */

    #avantages {
        visibility: hidden;
        display: none;
    }

    #avantages-2 {
        visibility: visible;
        display:flex;
    }
}


        /* 415 px
        ===================== */

@media screen and ( max-width: 415px ) {

    /* Navbar */

    header #menu-burger {
        margin: 0!important;
    }

    header .mx-5 {
        margin: 0!important;
    }
}