/* Reset 
======================= */
body {
	width: 100%;
    margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
    background-color: #002333;
}



/* Global 
======================= */

h1, h2 {
    font-family: 'Roboto Mono', monospace;
}

/*font-family: 'Montserrat', sans-serif;*/



/* Header 
======================= */

    /* Navbar */

#header nav {
    background-color: #002333b2;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    border-bottom: 1px solid #04fd83;
}

#header nav img {
    width: 220px;
}

#header ul li a {
    position: relative;
    padding-bottom: 0;
    font-size: 17px;
    text-align: center;
}

#header #lien-accueil {
    color: #04fd83;
}

#header ul li a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%; 
    transform: translateX(-50%);
    width: 0%;
    height: 1.5px;
    background-color: #04fd83;
    transition: all 0.3s ease-out;
}

#header ul li a:hover::before {
    width: 100%;
}


    /* Accueil */

#accueil {
    padding: 0;
}

#accueil img {
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    object-fit: cover;
}

#accueil h2 {
    position: absolute;
    bottom: 1000px;
}
